{% extends 'base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow border-0 p-4 bg-white">
            <h3 class="text-center fw-bold mb-3">Crear Cuenta</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div class="vstack gap-2">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-warning w-100 fw-bold mt-3">Registrarse</button>
            </form>
            <p class="text-center mt-3 mb-0 small">
                ¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-warning">Inicia sesión</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}